body {
    padding: 0 10% 10%;
    color: hsl(228, 12%, 44%);
    font-family: 'Inter', sans-serif; 
}

h1, h2 {
    color: hsl(230, 17%, 14%);
    font-weight: 700;
}

h1 {
    font-size: 2.2vw;
}

h2 {
    font-size: 3vw;
}

h3, p {
    font-size: 1vw;
    font-weight: 700;
}

.row {
    clear: both;
}

.margin {
    margin: 10%;
}

.topMargin1 {
    margin-top: 20px;
}

.topMargin2 {
    margin-top: 15px;
}

.fol {
    font-size: 0.9vw;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
}

.bg {
    position: absolute;
    left: 0;
    z-index: -1;
    height: 35%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: hsl(225, 100%, 98%);
}

.IL {
    display: inline-block;
}

.top {
    padding: 20px 0 10px;
    position: relative;
}

.DM {
    position: absolute;
    right: 0;
    top: 40%;
}

.middle {
    margin-top: 30px;
    font-size: 1.5vw;
}

.icon {
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 5px;
}

.upArrow {
    position: relative;
    top: 2px;
    display: inline-block;
    background-image: url(images/icon-up.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

.downArrow {
    position: relative;
    top: 2px;
    display: inline-block;
    background-image: url(images/icon-down.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

.up {
    color: hsl(163, 72%, 41%);
}

.down {
    color: hsl(356, 69%, 56%);
}

.fb-icon {
    background-image: url(images/icon-facebook.svg);
}

.in-icon {
    background-image: url(images/icon-instagram.svg);
}

.tw-icon {
    background-image: url(images/icon-twitter.svg);
}

.yt-icon {
    background-image: url(images/icon-youtube.svg);
}

.cols {
    background-color: hsl(227, 47%, 96%);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.cols1 {
    padding: 10%;
    background-color: hsl(227, 47%, 96%);
    border-radius: 5px;
    text-align: left;
    overflow: hidden;
}

.cols1 h1 {
    margin-bottom: 0;
}

.cols1 p {
    position: relative;
    top: 15px;
}

.cols:hover {
    background-color: hsl(227, 47%, 90%);
}

.cols1:hover {
    background-color: hsl(227, 47%, 90%);
}

.btmIcon {
    float: right;
}

hr {
    display: none;
}

/* TOGGLE */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    top: 5px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
  
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-image: linear-gradient(to right,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}
  
input:focus + .slider {
    box-shadow: 0 0 2px #000;
}
  
input:checked + .slider:before {
    transform: translateX(20px);
}

/* MOBILE */

@media (max-width: 767px) {
    
    h1 {
        font-size: 6vw;
    }
    
    h2 {
        font-size: 13vw;
    }
    
    h3, p {
        font-size: 4vw;
    }

    .middle {
        margin-top: 30px;
        font-size: 5vw;
    }

    .fol {
        font-size: 4vw;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .margin {
        margin: 7%;
    }

    .icon {
        width: 30px;
        height: 30px;
        background-size: 100% 100%;
    }

    .topMargin2 {
        margin-top: 30px;
    }

    .cols1 h1 {
        font-size: 7vw;
    }

    
    .cols1 .icon {
        top: 0;
    }

    .cols .icon {
        margin-right: 10px;
    }

    .cols1 p {
        top: 15;
    }

    .DM {
        position: static;
        float: none;
        width: 100%;
    }

    .switch {
        float: right;
    }

    hr {
        margin-top: 30px;
        display: block;
    }
}